
.card-event {
    border-radius: 8px;
    margin: 10px auto;
    width: 500px;
    max-width: 100%;
    min-height: 300px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
    background-size: cover;
}

.date-event {
    margin: 0;
    padding: 24px;
    line-height: 1;
    color: rgba(255, 0, 0, 0.87);
}

.info-event {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #fff;
    transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
    transition: transform 0.5s ease-out;
}

.info-event:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
    transition: transform 0.5s ease-out;
}

.card-event:hover .info-event,
.card-event:hover .info-event:before {
    transform: translateY(0) translateZ(0);
}

.title-event {
    margin: 0;
    padding: 24px;
    font-size: 32px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
}

.description-event {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
}

