/*
    DEMO STYLE
*/

table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
}

table td {
    font-size: 1em;
    font-weight: 400;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.input-default-wrapper .input-default-js + label span:not(.span-browse) {
    width: 300px;
    overflow: auto;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    /*color: #4c00be;*/
}

.md-accordion .card .card-body {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

/* Расстояние между чекбоксом и екстом в таблице */
.form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
    padding-left: 25px;
}

/* title page */
.h5 {
    /*color: #4c00be;*/
}
h1 {
    font-size: 1.1em;
    font-weight: bold;
}


/* Высота карточки события */
.gradient-card {
    height: 400px;
}

/* Загрузка аватара */
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 58px;
    height: 58px;
    margin-bottom: 0;
    border-radius: 100%;
    /*background: #be2134;
    border: 1px solid transparent;*/
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
